.fredoka {
    font-family: 'Fredoka One', cursive;
}

.center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.curve-button {
    border-radius: 25px!important;
    padding: 5px 30px!important;
}

@media only screen and (max-width:900px) {
    .header-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .header-text {
        width: 100%;
        height: 250px;
        color: lightgrey;
        top: 0;
        font-size: 30px!important;
    }
}

@media only screen and (min-width:900px) {
    .header-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .header-text {
        width: 100%;
        height: 100vh;
        color: lightgrey;
        top: 0;
        font-size: 30px!important;
    }
}

.circle {
    border-radius: 100%;
}

.mat-calendar {
    zoom: 0.75!important
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}